{% extends "MesdUserBundle:Filter:layout.html.twig" %}

{% block mesd_user_filter_content %}
    <h1>Edit Filter</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.name) }}
    {{ form_label(form.filterCategory) }}
    {{ form_widget(form.filterCategory, {'attr': {'class': 'form-control filter-role-dropdown'}}) }}
    {{ form_errors(form.filterCategory) }}
    {{ form_widget(form.solvent) }}
    <div id="solvent">
        {% for filter in filters %}
            {% for solvent in filter['solvent'] %}
                <div>
                    {% for entities in solvent %}
                        <div>
                            {% for entity in entities %}
                                <div data-name="{{ entity['name'] }}">
                                    {% for join in entity %}
                                        {% for association in join %}
                                            <div data-name="{{ association.name }}" data-trail="{{ association.trail }}">
                                                <label>{{ association.name }}</label>
                                                <select class="no-listener-yet">
                                                    <option></option>
                                                    {% for item in entityLists[association.name] %}
                                                        <option value="{{ item.id }}"{% if association.item == item.name %} selected="selected"{% endif %}>{{ item.name }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div id="afterSolvent"></div>
    {{ form_label(form.update) }}
    {{ form_widget(form.update, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
    <ul>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock mesd_user_filter_content %}
