{% extends "MesdUserBundle:Filter:layout.html.twig" %}

{% block mesd_user_filter_content %}
    <h1>Filter List</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                <a href="{{ path('MesdUserBundle_filter_new') }}">ADD</a>
            </th>
        </tr>
        <tr>
            <td>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Solvents
                        </th>
                    </tr>
                    {% for filter in filters %}
                        <tr>
                            <td>
                                <a href="{{ path('MesdUserBundle_filter_show', {'id': filter['id']}) }}">{{ filter['id'] }}</a>
                            </td>
                            <td>
                                {{ filter['filterCategory'] }}
                            </td>
                            <td>
                                {{ filter['name'] }}
                            </td>
                            <td>
                                <table class="table table-striped table-hover">
                                    <tr>
                                        {% for join in filter['solvent'][0][0][0] %}
                                            <th>
                                                {{ join['name'] }}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                    {% for solvent in filter['solvent'] %}
                                        <tr>
                                            {% for bunch in solvent %}
                                                {% for entity in bunch %}
                                                    {% for join in entity %}
                                                        <td>
                                                            {{ join['item'] }}
                                                        </td>
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
{% endblock mesd_user_filter_content %}
