{% extends "MesdUserBundle::layout.html.twig" %}

{% block mesd_user_head %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href='//fonts.googleapis.com/css?family=Roboto:500,400' rel='stylesheet' type='text/css' />
    <style>
        table tr th {
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-weight: 500;
            opacity: 0.54;
        }
        table tr td {
            font-family: 'Roboto', sans-serif;
            font-size: 13px;
            font-weight: 400;
            opacity: 0.87;
        }
        table tr td:hover {
            background-color: #eeeeee;
        }
    </style>
{% endblock mesd_user_head %}

{% block mesd_user_content %}

    {% if error is defined %}
        {% if error %}
            <div>{{ error.message }}</div>
        {% endif %}
    {% endif %}

    <h1>Filter List</h1>

    <table class="table table-striped table-hover">
        <tr>
            <th>
                <a href="{{ path('MesdUserBundle_filter_new') }}">ADD</a>
            </th>
        </tr>
        <tr>
            <td>
                <table class="table table-striped table-hover">
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Role
                        </th>
                        <th>
                            Filters
                        </th>
                    </tr>
                    {% for filter in filters %}
                        <tr>
                            <td>
                            {{ filter['user'] }}
                            </td>
                            <td>
                            {{ filter['role'] }}
                            </td>
                            <td>
                                <table class="table table-striped table-hover">
                                    <tr>
                                        {% for join in filter['solvent'][0][0] %}
                                            <th>
                                                {{ join['name'] }}
                                            </th>
                                        {% endfor %}
                                    </tr>
                                    {% for solvent in filter['solvent'] %}
                                        <tr>
                                            {% for entity in solvent %}
                                                {% for join in entity %}
                                                    <td>
                                                        {{ join['item'] }}
                                                    </td>
                                                {% endfor %}
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script>
    </script>
{% endblock mesd_user_content %}