{% extends "MesdUserBundle:Filter:layout.html.twig" %}

{% block mesd_user_filter_content %}
    <h1>New Filter</h1>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_label(form.user) }}
    {{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.user) }}
    {{ form_label(form.filterCategory) }}
    {{ form_widget(form.filterCategory, {'attr': {'class': 'form-control filter-role-dropdown'}}) }}
    {{ form_errors(form.filterCategory) }}
    {{ form_widget(form.solvent) }}
    <div id="solvent"></div>
    <div id="afterSolvent"></div>
    {{ form_label(form.create) }}
    {{ form_widget(form.create, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
    <pre></pre>
{% endblock mesd_user_filter_content %}
