{% if filterCategoryConfig is not null %}
    <div>
        {% for entities in filterCategoryConfig['entities'] %}
            <div>
                {% for entity in entities %}
                    <div data-name="{{ entity['name'] }}">
                        {% for join in entity['joins'] %}
                            <div data-name="{{ join['name'] }}" data-trail="{{ join['trail'] }}">
                                <label>{{ join['name'] }}</label>
                                <select class="no-listener-yet">
                                    <option></option>
                                    {% for item in entityLists[join['name']] %}
                                        <option value="{{ item.id }}">{{ item }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}