{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>User</th>
                <th>Filter</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('MesdUserBundle_user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity }}</td>
                <td>{% for filter in entity.filter %}{% if loop.index0 > 0 %}, {% endif %}{{ filter }}{% endfor %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('MesdUserBundle_user_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('MesdUserBundle_user_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
