{% extends '::base.html.twig' %}

{% block body -%}
    <h1>User</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ entity }}</td>
            </tr>
            <tr>
                <th>Filters</th>
                <td>{% for filter in entity.filter %}{% if loop.index0 > 0 %}, {% endif %}{{ filter }}{% endfor %}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('MesdUserBundle_user') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('MesdUserBundle_user_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
